/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/*General*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Hero section */


/* .hero {
    background-image: url(assets/closeFace.jpg);
    background-color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/closeFace-min.jpg);
    transition: opacity 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* adjust opacity as needed */
  }
  


  .ctn-hero{
    /* background-color: red; */
    z-index: 1;
    margin-bottom: 50px;
  }

  .hero-heading {
    font-family: 'Rubik';
    font-size: 3rem;
    font-weight: bold;
    color: #fffdfa;
    text-align: center;
    margin: 0 20px 1rem;
    z-index: 1;
  }
  
  .hero-subheading {
    font-family: 'Dancing Script';
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 20px;

  }
  
  .button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: #3f51b5;
    z-index: 1;
  }
  
  .button:hover {
    background-color: #2c3e50;
  }

  .btn-container{
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
  }
  
  @media screen and (max-width: 768px) {
    /* Reduce font sizes and adjust button padding for smaller screens */

    .hero-heading {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
    .hero-subheading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .button {
      padding: 0.8rem 1.6rem;
      font-size: 1rem;
    }
  }




/* About Us Section */
.about-us {
    /* height: 140vh; */
    padding: 80px 0;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .abt-contain{
    /* background-color: red; */
    width: 70%;
    margin: 0 auto;
  }


  .about-us h2 {
    font-family: 'Lobster';
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333333;
  }
  
  .about-us p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
    color: #666666;
  }
  
  .about-us .about-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-us .about-box .box {
    margin: 30px;
    max-width: 350px;
    text-align: center;
  }
  
  .about-us .about-box .box img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .about-us .about-box .box h4 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .about-us .about-box .box p {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 20px;
  }
  
  .about-us .about-box .box .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .about-us .about-box .box .social-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #666666;
  }
  
  .about-us .about-box .box .social-icons a:hover {
    color: #f16522;
  }



  .founders {
    text-align: center;
    padding: 50px 0;
  }

  .founders-list{
    /* background-color: red; */
    margin: 0px auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
  }
  
  .founders-heading {
    font-family: 'Lobster';
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .founder-card {
    width: 390px;
    background-color: #f8f8f8;
    padding: 20px;
    margin: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
  }
  
  .founder-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .founder-name {
    font-family: 'Roboto Slab';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .founder-description {
    font-size: 18px;
    line-height: 1.5;
  }
  

  
  @media (max-width: 768px) {
    .about-us h2 {
      font-size: 36px;
    }

    .about-us {
        /* height: 149vh; */
        padding: 80px 0;
        background-color: #f9f9f9;
        text-align: center;
      }
  
    .about-us p {
      font-size: 16px;
    }
  
    .about-us .about-box .box {
      max-width: 100%;
    }

    .founders-list{
        width: 100%;
      }

      .abt-contain{
        /* background-color: red; */
        text-align: center;
        width: 90%;
        margin: 0 auto;
      }
  }
  
  .achievements{
    /* background-color: red; */
    display: none;
  }






/* Mental Health Conditions Section */
.mental-health-conditions {
    /* height: 100vh; */
    padding: 80px 0;
    background-color: #ffffff;
  }
  
  .container-conditions{
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
  }

  .mental-health-conditions h2 {
    font-family: 'Rubik';
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333333;
  }
  
  .mental-health-conditions .conditions-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .mental-health-conditions .condition {
    flex: 0 0 31%;
    flex-wrap: wrap;
    margin-bottom: 50px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
  }
  
  .mental-health-conditions .condition img {
    width: 100%;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .mental-health-conditions .condition h3 {
    font-family: Acme;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .mental-health-conditions .condition p {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 20px;
  }
  
  .mental-health-conditions .condition .button {
    display: block;
    margin: 0 auto;
  }
  

  @media screen and (max-width: 768px) {
    .mental-health-conditions .conditions-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
      }

      .mental-health-conditions {
        /* height: 190vh; */
        padding: 80px 0;
        background-color: #ffffff;
      }
  }





/* Self-Care Section */

.self-care {
    /* padding: 80px 0; */
    background-color: #f5f5f5;
  }
  
  .self-contain{
    /* background-color: red; */
    width: 96%;
    margin: 0 auto;
    text-align: center;
  }

  .self-care h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333333;
  }
  
  .self-care-grid {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .self-care-item {
    /* background-color: blue; */
    /* width: 360px; */
    margin:0 10px;
    flex: 0 0 31%;
    margin-bottom: 50px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .self-care-item img {
    width: 100%;
    margin-bottom: 20px;
    transition: opacity 0.3s ease-in-out;
  }
  
  .self-care-item h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .self-care-item p {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    margin-bottom: 20px;
  }
  
  .self-care-item .button {
    display: block;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .self-care {
    padding: 50px 0;
    }
    
    .self-care h2 {
    font-size: 32px;
    margin-bottom: 20px;
    }
    
    .self-care-grid {
    display: block;
    }
    
    .self-care-item {
    width: 100%;
    margin-bottom: 30px;
    }
    }




/* Support Section */
.support {
    /* background-color: red; */
    /* height: 100vh; */
    padding: 80px 0 10px;
    /* background-color: #f5f5f5; */
    /* background-color: blue; */
  }

  #support{
    /* background-color: red; */
    padding: 0;
    margin: 0;
  }

  .supp-contain{
    /* background-color: red; */
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  
  .support h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333333;
  }
  
  .support .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .resources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 50px; */
  }
  
  .resource-category {
    width: 98%;
    /* background-color: blue; */
    border-radius: .4em;
    flex: 0 0 31%;
    margin-bottom: 50px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
  }
  
  .resource-category h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .resource-category ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
  
  .resource-category li {
    margin-bottom:10px;
}  

.resource-category li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.resource-category li a:hover {
  color: #333333;
}

.resource-category .where-to-get {
  font-size: 14px;
  line-height: 20px;
  color: #999999;
  margin-top: 20px;
}

.support-group {
  margin-bottom: 50px;
}

.support-group h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
}

.support-group p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 20px;
}

.support-group ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.support-group li {
  margin-bottom: 10px;
}

.support-group li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.support-group li a:hover {
  color: #333333;
}

.support-hotline {
  margin-bottom: 50px;
}

.support-hotline h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
}

.support-hotline p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 20px;
}

.support-hotline ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.support-hotline li {
  margin-bottom: 10px;
}

.support-hotline li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.support-hotline li a:hover {
  color: #333333;
}

.support-chat {
  margin-bottom: 50px;
}

.support-chat h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333333;
}

.support-chat p {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 20px;
}

.support-chat ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.support-chat li {
  margin-bottom: 10px;
}

.support-chat li a {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.support-chat li a:hover {
  color: #333333;
}

@media (max-width: 768px) {
    .resources {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .support {
        height: 150vh;
        padding: 80px 0;
        background-color: #f5f5f5;
      }

      .resources {
        display: flex;
        align-items: center;
        justify-content: space;
        flex-wrap: wrap;
        margin-top: 50px;
      }
}

.supp-groups{
  background-color: #14A44D;
}

.crisis{
  background-color: #d12d36;
}

.mental-orgs{
  background-color: #54B4D3;
}

.mental-orgs h3,.crisis h3,.supp-groups h3, .crisis ul li a, .supp-groups ul li a,.mental-orgs ul li a{
  color: white;
}


.chat{
  padding: 20px;
  border-radius: .4em;
  background-color: black;
  color: white;
}

.chat h3,p{
  margin: 0 0 10px;
}





/* Resources Section */
.resources {
    padding: 40px 0 10px;
    background-color: #ffffff;
  }

  .res-contain{
    /* background-color: red; */
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }
  
  .resources h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333333;
  }
  
  .resources .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .resource-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .category {
    width: 98%;
    /* background-color: blue; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: .4em;
    flex: 0 0 31%;
    margin-bottom: 50px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    text-align: center;
  }
  
  .category h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .category ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
  }
  
  .category li {
    margin-bottom: 10px;
  }
  
  .category li a {
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .category li a:hover {
    color: #333333;
  }
  
  .category .where-to-get {
    font-size: 14px;
    line-height: 20px;
    color: #999999;
    margin-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .resource-categories {
      flex-direction: column;
    }
  
    .category {
      flex: 0 0 100%;
      margin-bottom: 30px;
    }
  }
  



  footer {
    width: 100%;
    /* margin: 0 auto; */
    background-color: #F5F5F5;
    padding-top: 50px;
    /* padding-bottom: 50px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .foot-contain{
    width: 87%;
    margin: 0 auto 50px;
    /* width: 500px; */
    /* background-color: red; */
    /* background-color: black; */
  }

  footer h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #353535;
  }

  footer p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555555;
  }

  .map {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    border: 1px solid #EFEFEF;
  }

  iframe{
    width: 100%;
  }

  .form-contain{
    margin-top: 40px;
  }

  .form-contain h3{
    font-size: 1.5em;
  }

  .form-group input,
  .form-group textarea {
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #EFEFEF;
    padding: 10px;
    margin-bottom: 20px;
  }

  .form-group textarea {
    height: 150px;
  }

  .btn-primary {
    background-color: #007bff;
    /* border-bottom: 20px; */
    border-color: #007bff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
  }

  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .copy-right {
    /* background-color: #FFFFFF; */
    text-align: center;
    border-top: 20px;
    padding: 20px 0;
    background-color: black;
    height: 100%;
    color: white;
  }

  .contact-contain h3,p{
    /* background-color: red; */
    color:rgb(218, 217, 217);
  }

  .contact-contain p{
    /* background-color: red; */
    color: rgb(218, 217, 217);
  }


  .col-12 p{
    color: rgb(218, 217, 217);
  }
